 <https://www.archlinux.org/news/xorg-cleanup-requires-manual-intervention/!DOCTYPE html>
<html lang="en">
<head>
  <title>Octopus Arms Forge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
 <body>

	<div class="col-md-4 text-center"> 
		<h3><b>Octopus Arms Forge</b> </h3>   
		<p> Welcome to Octopus Arms Forge. I make all sorts of things, from knives to decorative iron work. I run a small shop on and do take comissions, but as I am still in school these are slow and may take awhile. Feel free to look around and enjoy yourself while here! </p>
	</div>

</body>
</html> 
